body{
    margin: 0;
  }
  
  html, body, #root {
    height: 100%;
    background-color: #010914;
  }
  
  /* ---------------CONTENT CARDS---------------------- */
  
  #cards:hover > .card::after {
    opacity: 1;
  }
  
  .card {
    
    border: 10px;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
  
  }
  
  .card:hover::before {
    opacity: 1;
  }
  
  .card::before,
  .card::after {
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: opacity 1000ms;
    width: 100%;
  }
  
  .card::before {
    background: radial-gradient(
      400px circle at var(--mouse-x) var(--mouse-y), 
      rgba(255, 255, 255, 0.2),
      transparent 40%
    );
    z-index: 3;
  }
  
  .card::after {  
    background: radial-gradient(
      300px circle at var(--mouse-x) var(--mouse-y), 
      transparent 20%
    );
    z-index: 1;
  }
  
  .card > .card-content {
    background-color: rgba(42, 42, 43, 0.4);
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    inset: 1px;
    padding: 10px;
    position: absolute;
  
  }